#board {
    width: 100%;
    height: 100%;
    background-color: rgb(238, 239, 240);

    position: absolute;
    left: 0;
    top: -100%;
}

#board-header {
    height: 10%;
    background-color: white;
    
    text-align: center;

    border-bottom: 1px solid rgba(239, 241, 243, 0.5);
}

.board-logo-text {
    color: rgb(255, 136, 156, .5);
    font-size: 50px;
    font-weight: bold;
    text-shadow: -1px 0 rgb(255, 212, 212), 0 1px rgb(255, 225, 225), 5px 0 rgb(255, 225, 225), 0 -1px rgb(255, 225, 225);

    cursor: pointer;
}



#board-nav {
    width: 15vw;
    height: 75vh;
    background-color: rgb(255, 255, 255);

    position: absolute;
    left: 12%;
    top: 17%;

    border-radius: 15px;
}

.board-nav-header {
    width: 80%;
    height: 35%;
    
    margin: 20px 0 0 10%;
    border: 1px solid rgb(224, 229, 238);
}

.board-nav-pic {
    height: 75%;
    background-image: url(../css/images/KakaoTalk_20191226_183116639.png);
    background-size: cover;

    border-bottom: 1px solid rgb(224, 229, 238);
}

.board-nav-user {
    height: 20%;

    padding: 5px 0 0 10px;
}

.board-nav-user > span {
    font-weight: bold;
}

.board-nav-user > p {
    font-size: 13px;
    font-weight: 300;
}

.board-nav-btn {
    width: 80%;

    font-size: 20px;
    font-weight: 400;
    text-align: center;
    color: rgb(129, 129, 129);

    padding: 10px 40px;
    margin: 20px 10% 0 0;
    float: right;

    border: 2px solid rgba(255, 216, 216, 0.8);
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}

.init-write-icon {
    margin-left: 10px;
}

.board-nav-btn:hover {
    border: 2px solid rgba(255, 142, 142, 0.8);
    color: rgba(255, 142, 142, 0.8);
}

.board-nav-category {
    width: 80%;
    height: 50%;

    margin: 30% 0 0 10%;
}

#board-nav-viewAll {
    width: 100%;

    font-size: 20px;
    color: black;
    
    float: left;
    margin-top: 10%;
}

#board-main {
    width: 60vw;
    height: 75vh;
    background-color: rgb(255, 255, 255);

    position: relative;
    left: 28%;
    top: 5%;

    border-radius: 10px;
}

.board-main-writes {
    font-size: 25px;
    color: black;
}

.board-main-header-text {
    font-weight: 600;

    padding-top: 50px;
}

.header-buttom-line {
    width: 3%;

    margin: 5px 0 0 160px;
    border-top: 1px solid rgb(175, 175, 175);

}

.main-list-name {
    width: 45vw;
    height: 4vh;

    font-size: 15px;
    
    
    margin: 30px 0 0 10%;
    padding: 0 0 20px 15px;

    border-bottom: 1px solid rgb(182, 182, 182);
}

.main-list-name > p:nth-child(1) {
    width: 8%;
    height: 100%;
    float: left;
}

.main-list-name > p:nth-child(2) {
    width: 60.5%;
    height: 100%;
    float: left;
}

.main-list-name > p:nth-child(3) {
    width: 8%;
    height: 100%;
    float: left;
}

.main-list-name > p:nth-child(4) {
    width: 10%;
    height: 100%;
    float: left;
}

.main-list-name > p:nth-child(5) {
    width: 11%;
    height: 100%;
    float: left;
}

#board-main-write-view {
    width: 45vw;
    height: auto;
    
    margin: 20px 0 0 10%;
}

.board-main-write {
    width: 100%;
    height: 5vh;

    position: relative;
    
    border: 1px solid rgb(175, 175, 175);
    margin-bottom: 5px;
    padding: 10px 0 0 20px;
}

.write-select-check {
    display: none;
}

input[class="write-select-check"] + label {
    position: absolute;
    left: 2.5%;
    top: 25%;
}

input[class="write-select-check"] + label:before {content:"";display:block;width:20px;height:20px;background:#fff; border:1px solid rgba(77, 77, 77, .6); cursor: pointer;}
input[class="write-select-check"]:checked + label:before {content:"\2714";text-align:center;font-weight:600; line-height: 20px; color:rgb(58, 58, 58)}


.board-main-write > p {
    position: absolute;
    top: 25%;

    font-size: 15px;
}
.main-write-title {
    left: 10%;
}

.main-write-name {
    left: 70%;
}

.main-write-comments {
    left: 80%;
}

.main-write-day {
    left: 88%;
}

#write-view-area {
    width: 60vw;
    height: 75vh;
    background-color: rgb(255, 255, 255);

    position: relative;
    left: 28%;
    top: 7%;

    border-radius: 10px;
    padding: 60px 0 0 100px;

    overflow-y: scroll;
    overflow-x: hidden;
}

.write-view-area-header {
    width: 80%;
    height: 15%;
}

.write-view-title {
    font-size: 30px;
    font-weight: 600;
}

.write-view-name, .write-view-day {
    margin: 15px 20px 0 0;
    float: left;
}

.write-view-area-content {
    width: 80%;
    height: auto;

    padding: 50px 0;
    
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}

.write-view-area-comment {
    width: 80%;
    height: 30%;

    margin: 40px 0;
}

#comment {
    width: 100%;
    height: 70%;

    font-size: 18px;

    margin-top: 10px;
}

#comment-save-btn {
    background-color: rgb(255, 83, 83);

    color: rgb(255, 255, 255);

    float: right;
    padding: 10px 20px;
    border-radius: 10px;
}