/* css 초기설정 */

@charset "UTF-8";

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

html, body { background-color: #f9f9f9; }

ul, li, ol { list-style: none; }

a { color: #282828; } 

img { display: block; }

input:focus { outline: none; }

span { font-weight: bold; }

.dark-wrap { 
    background-color: #000000; 

    position: absolute;
    left: 0; top: 0;

    opacity: .5; 
    z-index: 5;
}

.section-title { font-size: 1.7em; font-weight: bold; }

.fa-star { color: #ff9445; }
.fa-star-o { color: black; }

/* 헤더 */

header { height: 85px; border-bottom: 1px solid #acacac; }

.logo { height: 50px; }

.menu, .form { font-weight: bold; }
.menu > a { height: 100%; padding: 0 1.5em;  line-height: 85px; }
.menu > a:hover { color: #ff9445; }

.form > a { padding-right: 1em; line-height: 85px; }

.search-form { height: 40px; border: 1px solid rgb(206, 206, 206); }
.search-form > img { height: 20px; cursor: pointer; }
.search { border: none; outline: none; }

/* 네비게이션 */

nav { height: 85px; }
.menu { margin: 0 auto; }

/* 모달 영역 */

#login .modal-dialog, #join .modal-dialog { 
    width: 400px; 
    height: 450px; 

    background-color: #ffffff; 

    top: 10%;
    
    border-top: 5px solid #ff9445;
}
#join .modal-dialog { height: 650px; }
.form-header-text { font-size: 2em; font-weight: bold; text-align: center; }

.form-group {
    width: 80%;
    height: 45px;  

    position: relative;

    display: flex;
    flex-direction: column;

    margin: 0 auto;
    margin-top: 20px;
}
.form-group:hover > i { color: #ffba89; }

.form-group > input {
    height: 100%;  

    position: absolute;
    right: 0; top: 0;
    z-index: 90;
    
    border: none;
    border-bottom: 2px solid #e3e3e3;

    outline: none; 
    padding-left: 55px;
}

#user-icon, #password-icon { 
    width: 10%; 
    height: 45px; 
    
    position: absolute;
    left: 0; top: 0;
    z-index: 100;

    font-size: 25px;
    line-height: 45px;
}

#login-form-btn { 
    height: 50px; 
    
    background-color: #ff9445; 

    font-size: 1.2em;
    font-weight: bold;
    color: #ffffff;
    line-height: 50px;
    text-align: center;

    margin-top: 15px;
}

#forget-password { font-size: .9em; color: #b4b4b4; text-align: center; }

/* 슬라이드 영역  */

#visual { height: 720px; }
#slide-container { position: relative; left: 0; top: 0;}
.slider {
    position: absolute;
    
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-delay: 2;
}
.slider > img { width: calc(100% / 3); height: 100%; float: left; filter: brightness(40%); }

@keyframes case-1 {
    0% { left: 0%; }
    20% { left: 0%; }

    25% { left: -100%; }
    45% { left: -100%; }

    50% { left: -200%; }
    70% { left: -200%; }

    75% { left: -100%; }
    95% { left: -100%; }

    100% { left: 0%; }
}

@keyframes case-2 {
    0% { left: -100%; }
    20% { left: -100%; }

    25% { left: -200%; }
    45% { left: -200%; }

    50% { left: -100%; }
    70% { left: -100%; }

    75% { left: 0%; }
    95% { left: 0%; }

    100% { left: -100%; }
}

@keyframes case-3 {
    0% { left: -200%; }
    20% { left: -200%; }

    25% { left: -100%; }
    45% { left: -100%; }

    50% { left: 0%; }
    70% { left: 0%; }

    75% { left: -100%; }
    95% { left: -100%; }

    100% { left: -200%; }
}

@keyframes case-4 {
    0% { left: -100%; }
    20% { left: -100%; }

    25% { left: 0%; }
    45% { left: 0%; }

    50% { left: -100%; }
    70% { left: -100%; }

    75% { left: -200%; }
    95% { left: -200%; }

    100% { left: -100%; }
}

.slider { animation-name: slide-1; }	
#slide-1:checked ~ #slide-container > .slider { animation-name: case-1; }
#slide-2:checked ~ #slide-container > .slider { animation-name: case-2; }
#slide-3:checked ~ #slide-container > .slider { animation-name: case-3; }
#slide-4:checked ~ #slide-container > .slider { animation-name: case-4; }

.slide-text { 
    position: absolute;
    left: 15%; top: 35%;
    z-index: 20;

    font-size: 2.5em;
    font-weight: lighter;
    color: #f0f0f0;
    
    opacity: .8;
}
.slide-text > p > span { font-size: 1.1em; color: #ff9445; font-weight: bold; }  

.slide-controller { 
    position: absolute;
    left: 0; top: 55%;

    animation-duration: 8s;
    animation-iteration-count: infinite;    
    animation-delay: 2s;

    cursor: pointer;
    opacity: .5;
    z-index: 10;
}

.left-btn { height: 55px; left: 15%; }
.left-btn > img { height: 100%; }
.right-btn { height: 55px; left: 18.5%; }
.right-btn > img { height: 100%; }

@keyframes controller-1 { 
    0% { z-index: 20; }
    24% { z-index: 20; }

    25% { z-index: 10; }
    49% { z-index: 10; }

    50% { z-index: 10; }
    74% { z-index: 10; }

    75% { z-index: 10; }
    99% { z-index: 10; }

    100% { z-index: 20; }
}

@keyframes controller-2 { 
    0% { z-index: 10; }
    24% { z-index: 10; }

    25% { z-index: 20; }
    49% { z-index: 20; }

    50% { z-index: 10; }
    74% { z-index: 10; }

    75% { z-index: 10; }
    99% { z-index: 10; }
    
    100% { z-index: 10; }
}

@keyframes controller-3 { 
    0% { z-index: 10; }
    24% { z-index: 10; }

    25% { z-index: 10; }
    49% { z-index: 10; }

    50% { z-index: 20; }
    74% { z-index: 20; }

    75% { z-index: 10; }
    99% { z-index: 10; }
    
    100% { z-index: 10; }
}

@keyframes controller-4 { 
    0% { z-index: 20; }
    24% { z-index: 20; }

    25% { z-index: 10; }
    49% { z-index: 10; }

    50% { z-index: 10; }
    74% { z-index: 10; }

    75% { z-index: 20; }
    99% { z-index: 20; }
    
    100% { z-index: 10; }
}

#slide-1:checked ~ #slide-container > .slide-1 { animation-name: controller-1; }
#slide-1:checked ~ #slide-container > .slide-2 { animation-name: controller-2; }
#slide-1:checked ~ #slide-container > .slide-3 { animation-name: controller-3; }
#slide-1:checked ~ #slide-container > .slide-4 { animation-name: controller-4; }

#slide-2:checked ~ #slide-container > .slide-1 { animation-name: controller-4; }
#slide-2:checked ~ #slide-container > .slide-2 { animation-name: controller-1; }
#slide-2:checked ~ #slide-container > .slide-3 { animation-name: controller-2; }
#slide-2:checked ~ #slide-container > .slide-4 { animation-name: controller-3; }

#slide-3:checked ~ #slide-container > .slide-1 { animation-name: controller-3; }
#slide-3:checked ~ #slide-container > .slide-2 { animation-name: controller-4; }
#slide-3:checked ~ #slide-container > .slide-3 { animation-name: controller-1; }
#slide-3:checked ~ #slide-container > .slide-4 { animation-name: controller-2; }

#slide-4:checked ~ #slide-container > .slide-1 { animation-name: controller-2; }
#slide-4:checked ~ #slide-container > .slide-2 { animation-name: controller-3; }
#slide-4:checked ~ #slide-container > .slide-3 { animation-name: controller-4; }
#slide-4:checked ~ #slide-container > .slide-4 { animation-name: controller-1; }

/* 온라인 집들이 영역  */

#housewarming-party { height: 860px; position: relative;  background-color: #f7f7f7; }
#housewarming-party-container { position: relative; }

.housewarming-party-bar { 
    height: 8px;
    
    background-color: #f7d5bc;

    position: absolute;
    left: -10%; top: 13em;
}
.housewarming-party-main { 
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 60px;

    margin: 0 auto;
}

.housewarming-party-list { position: relative; border-radius: 30px; }
.list-img { width: 315px; height: 315px; }
.list-img img { 
    height: 300px;

    position: absolute;

    border-radius: 30px; 
    transition: all 0.5s;
}
.list-img img:nth-child(2) { left: 100%; }
.list-img:hover img:nth-child(2) { left: 0%; }

.housewarming-party-list > p { font-size: 1.1em; padding-top: 1.1em; }

/* 전문가 영역  */

#special-list { height: 800px; position: relative; background-color: #e8edf1; }
.special-list-bar { 
    height: 8px;
    
    background-color: #acacac;

    position: absolute;
    left: -10%; top: 13em;
}
.special-list-main { 
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 60px;

    margin: 0 auto;
}
.special-list { 
    height: 315px;

    transform-style: preserve-3d;
    perspective: 1000px;

    border-radius: 100%;
}

.special-list, .rotate {
    position: relative; 
    z-index: 1; 
    
    transition: transform 1s; 
}

.back {  
    transform: rotate3d(0, 1, 0, 180deg);
    transition-delay: 0.2s;
            
    z-index: -1; 
}
.special-list:hover > .rotate { transform: rotate3d(0, 1, 0, 180deg); }
.special-list:hover > .rotate > .back { z-index: 1; }

.circle { 
    width: 100%;
    height: 315px; 

    position: absolute;
    left: 0; top: 0;

    text-align: center;

    background-color: #b0bfbf; 

    border-radius: 100%; 
}
.circle > img { height: 150px; margin: 0 auto; padding-top: 1.3em; cursor: pointer; }
.circle > p { padding-top: 1.1em; }

/* 전문가 시공 후기 영역  */

#review { height: 700px; position: relative; background-color: #f0f1f5; }
.review-bar { 
    height: 8px;
    
    background-color: #c7b299;

    position: absolute;
    left: -10%; top: 13em;
}
.review-main {
    display: grid;
    grid-template-columns: repeat(2, 1.5fr);
    grid-template-rows: 1fr;
    grid-gap: 100px;

    position: relative;
}
.review { height: 300px; background-color: #f7f7f7; }
.review-right > img { width: 180px; height: 200px; } 
#review-more { 
    width: 60px; 
    
    position: absolute; 
    right: -20%; top: calc(50% - 60px); 
    
    cursor: pointer; 
}

/* 푸터 */

footer { height: 70px; line-height: 70px; text-align: center; font-weight: bold; }