.music-search-form > p { font-size: 1.3em; font-weight: bold; margin-bottom: 30px; }
.music-search-form > .search-music {
    width: 90%; 
    height: auto; 
    background-color: none;
    
    font-size: 1.5em; 
    font-weight: bold; 
    
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 35px;
}

.search-music { margin-bottom: 100px; }
.music-search-form > .search-music > div { 
    width: 100%; 
    height: 55%; 
    background-color: none;
    
    font-size: .6em; 
    font-weight: 500; 
    line-height: 25px;

    box-shadow: 5px 5px 25px -10px;
    transition: transform .5s; transform: scale(1);
}

.music-search-form > .search-music > div > img { height: 250px;}

.music-search-form > .search-music > div > p {
    width: 100%;
    height: 30%;
    padding-left: 10px;
}

.music-search-form > .search-music > div > p > span {
    font-weight: bold;
}

.search-playList > div { height: 100px; }