
/* 기본설정 */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    list-style: none;
}

a:link {text-decoration: none;}
a:visited {text-decoration: none;}
a:hover {text-decoration: none;}

/*  */

html, body {
    height:100vh;
    z-index: -1;
    overflow: hidden;
}

/* 기본틀 */

#container {
    width: 100vw;
    height: 100vh;
    background-image: url(./images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    position: relative;
}

.left-dark-wrap {
    width: 45vw;
    height: 100vh;
    background-color: black;

    position: absolute;
    top: 0%;
    left: 0%;
    opacity: .4;
}

.top-dark-wrap {
    width: 155vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);

    position: absolute;
    left: 45%;
    bottom: 100%;
    
    z-index: 190;
}

/*  */


/* 기본폰트 설정 */

.logo-text {
    font-family: 'Great Vibes', cursive;
    font-family: 'PT Mono', monospace;
    font-family: 'Oswald', sans-serif;
    font-family: 'Zhi Mang Xing', cursive;
    font-family: 'Pacifico', cursive;
}

.main-text {
    font-family: 'Great Vibes', cursive;
    font-family: 'PT Mono', monospace;
    font-family: 'Oswald', sans-serif;
    font-family: 'Zhi Mang Xing', cursive;
    font-family: 'Pacifico', cursive;
    font-family: 'Martel Sans', sans-serif;
    font-family: 'Kanit', sans-serif;
}

.nav-text {
    font-size: 30px;
    font-weight: bold;
    color: white;
    font-family: 'Great Vibes', cursive;
    font-family: 'PT Mono', monospace;
    font-family: 'Oswald', sans-serif;
    font-family: 'Zhi Mang Xing', cursive;
    font-family: 'Pacifico', cursive;
    font-family: 'Martel Sans', sans-serif;
    font-family: 'Kanit', sans-serif;
}

.form-group {
    font-family: 'Great Vibes', cursive;
    font-family: 'Roboto', sans-serif;
}

/*  */

/* 헤더 */

header {
    width: 100vw;
    height: 10vh;
}

.header-logo-text{
    width: 10vw;
    height: 100vh;
    
    position: absolute;
    margin-left: 5vw;
    float: left;
    
    color: rgb(255, 136, 156);
	text-shadow: -1px 0 rgb(255, 225, 225), 0 1px rgb(255, 225, 225), 5px 0 rgb(255, 225, 225), 0 -1px rgb(255, 225, 225);
    font-size: 50px;
    font-weight: bold;
    text-align: center;

    cursor: pointer;
    z-index: 200;
}

/* 햄버거메뉴 */
.hamburger{
    width: 10px;
    height: 8px;
    
    position: absolute;
    top: 0.5%;
    right: 4.5%;

    padding: 25px 0 0 20px;
    display: block;
    z-index: 200;
}

.center {position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);}

input[id="menuicon"] {
    display:none;
    position: absolute;
}

input[id="menuicon"] + label {
    display:block;
    width:45px;
    height:30px;
    position:relative;
    cursor:pointer;
    z-index: 200;
}

input[id="menuicon"] + label span {
    display:block;
    position:absolute;
    width:100%;
    height:1px;
    border-radius:30px;
    background:white;
    transition:all .35s;
}

input[id="menuicon"] + label span:nth-child(1) {
    top:0;
}

input[id="menuicon"] + label span:nth-child(2) {
    top:50%;transform:translateY(-50%);
}

input[id="menuicon"] + label span:nth-child(3) {
    bottom:0;
}

input[id="menuicon"]:checked + label span:nth-child(1) {
    top:50%;transform:translateY(-50%) rotate(45deg);
}

input[id="menuicon"]:checked + label span:nth-child(2) {
    opacity:0;
}

input[id="menuicon"]:checked + label span:nth-child(3) {
    bottom:50%;transform:translateY(50%) rotate(-45deg);
}   

input[id="menuicon"]:checked {
    display: none;
}

.top-dark-wrap > nav {
    width: 12vw;
    height: 50vh;

    margin: 5% 0 0 3.5%;
    display: flex;
    flex-direction: column;
}

.init-form {
    width: 45vw;
    height: 10vh;
    
    padding: 0 0 20px 20px;
    margin: 0 20px 80px 0;
    border-bottom: 3px solid #fff;
}

.loginBtn {
    width: 6vw;
    float: left;
}

.joinBtn {
    width: 10vw;
    padding-left: 1.3vw;
}

.logoutBtn {
    width: 10vw;
}

.top-dark-wrap > nav > a {
    margin-bottom: 2vh;
    padding: 0 0 10px 10px;

    transform: scale(1);
}

.nav-text:hover {
    transform: scale(1.1);

    color: rgb(255, 87, 115);
}
/* 햄버거메뉴 */

/*  */

/* form */

#login, #join {
    width: 21.85vw;
    height: 48.3vh;

    position: absolute;
    right: 25%;
    top: 10%;
    background-color: white;

    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(0,0,0,.6);
    opacity: 0;
}

#join {
    height: 80vh;
}

.form-header-text {
    width: 100%;
    margin-top: 7%;
    
    font-size: 1.45rem;
    font-weight: 550;
    text-align: center;
    line-height: 1.9em;
    color: #272727;
}

.form-group {
    width: 80%;

    display: flex;
    flex-direction: column;

    margin: 0 auto;
    margin-top: 20px;
}

.form-group > label {
    width: 100%;

    margin-bottom: 10px;
}

.form-group > input {
    height: 45px;  
    border: 2px solid #d6d6d6;;
}

.form-btn {
    height: 40px;

    font-size: 17px;
    text-align: center;
    color: white;
    line-height: 40px;

    /* margin-top: 5px; */
    border: none;
    border-radius: 0px;
    background-color: coral;
    cursor: pointer;
}

.init-dif-form {
    width: 100%;
    height: 60px;

    position: absolute;
    bottom: 0%;
    
    font-size: 15px;
    text-align: center;
    color: #999;

    background: #ecf0f1;
    border-color: #dee4e7;
    border-radius: 5px;
}

.init-dif-form > a {
    color: #999;
    line-height: 50px;

    cursor: pointer;
}

.init-dif-form > a:hover {
    color: #999; text-decoration: underline;
}

/* 토스트메세지 */
#toast {
    width: 30vw;
    height: 55px;
    
    border-radius: 20px;
    position: absolute;
    left: 38%;
    top: 100%;

    color: white;
    text-align: center;
    line-height: 50px;
    font-size: 18px;

    background-color: black;
    opacity: .6;
}
/*  */

/* write */
#write-area {
    width: 80vw;
    height: 90vh;
    background-color: rgb(245, 245, 245);

    position: absolute;
    left: 10%;
    top: 5%;
    
    z-index: 100;
    overflow: scroll;
}

.write-tool {
    width: 100%;
    height: 5vh;

    position: absolute;
    top: 0;

    outline: none;
    background-color: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.write-sub-tool {
    width: 100%;
    height: 3vh;

    position: absolute;
    top: 5vh;

    background-color: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.write-back-icon {
    font-size: 30px;
    color: rgb(75, 74, 74);

    float: right;
    margin: 5px 15px 0 0;
    cursor: pointer;
}

.write-select {
    width: 100px; 
    height: 100%;

    font-size: 13px;
    
    float: left;
    outline: none;
    border: none; 
}

.first-select {
    margin-left: 50px;
}

.font-tool {
    width: 150px;

    font-size: 15px;

    float: left;
    margin-left: 10px;
}

#title-tool {
    display: none;
}

#content-tool {
    width: 200px;
    height: auto;
}

.tool-btn {
    width: 11.66px;

    float: left;
    margin: 6px 4px 0 10px;
    background-color: unset;

    border: none;
    outline: none;
    cursor: pointer;
}

.tool-btn::before {
    width: 100%;
}

.tool-btn:hover {
    color: rgb(252, 121, 143);
}

#write {
    width: 40vw;
    min-height: 80vh;

    position: relative;
    top: 8.5vh;
    background-color: #fff;
    margin: auto;
    border: solid #e8e8e8;
    border-width: 0 1px;
    
    box-sizing: content-box;
}

.write-header {
    width: 80%;

    padding-top: 50px;
    margin: 0 auto;
    border-bottom: 1px solid #e5e5e5;
}

.write-title {
    width: 100%;
    height: auto;

    font-size: 20px;
}

.write-content {
    width: 80%;

    font-size: 15px;

    margin: 0 auto;
    margin-top: 20px;
    background-color: white;
}

/* div에 글씨쓰기 속성 */

[contenteditable=true]:empty:before{
    content: attr(placeholder);
    display: block; 
}
 
div[contenteditable=true] {
    color : #333;

    padding: 5px;
    outline: none;
    cursor: text;
} 

/*  */

/* 배경 */

.background-logo-text {
    width:550px;
    height: auto;
    
    position: absolute;
    left: 7%;
    top: 20%;

    color: rgb(255, 82, 111);
	text-shadow: -1px 0 rgb(255, 225, 225), 0 1px rgb(255, 225, 225), 10px 0 rgb(255, 225, 225), 0 -1px rgb(255, 225, 225);
    font-size: 150px;
    text-align: center;
    font-weight: bold;

    opacity: .7;
    border-bottom: 10px solid rgb(252, 135, 155);
    border-radius: 20px;
}

.background-main-text {
    width: 550px;
    height: auto;
    
    position: absolute;
    left: 7%;
    top: 55%;

    color: rgb(236, 237, 243);
	text-shadow: -1px 0 rgb(83, 83, 83), 0 1px rgb(43, 43, 43), 3px 0 rgb(83, 83, 83), 0 -1px rgb(83, 83, 83);
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    line-height: 70px;
    
    opacity: .8;
}

.background-main-text > span{
    font-size: 80px;
}

/*  */