.party-footer { 
    width: 150px;
    height: 50px; 

    font-size: 1.1em;
    font-weight: bold;
    color: #383838;
    text-align: center;
    line-height: 50px;

    border: 2px solid #383838;
    cursor: pointer;
}
.party {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
    grid-gap: 30px;
}

.board { background-color: white; text-align: center; }

.list-img { height: 230px; }
.list-img > img { height: 230px; }

.fa-star { text-align: center; }

.party-footer:hover { background-color: #383838; color: #ffffff; }
.party-footer:hover > a { color: #ffffff; }

#rating-btn { 
    font-weight: bold;
    color: #383838;
    text-align: center;

    border: 2px solid #383838;
    margin: 0 auto;
    padding: 0 10px;
    cursor: pointer;
}

.review-btn { width: 180px; border: 2px solid #383838; position: absolute; left: calc(50% - 90px); top: 55%; padding: 10px 20px; cursor: pointer; }
.review-btn:hover { background-color: #383838; color: white; }

/* 시공견적 */

#build { position: relative; background-color: #f0f1f5; }
.build-bar { 
    height: 5px;
    
    background-color: #c7b299;

    position: absolute;
    left: -10%; top: 13em;
}
.build-request-btn { 
    text-align: center; 
    font-weight: bold; 
    
    border: 2px solid #383838; 
    margin-left: 90%;
    padding: 5px;
    cursor: pointer;
}
.build-request-btn:active { background-color: #383838; color: #ffffff !important; }

.request-list { text-align: center; border-top: 5px solid #ff9445; }
.request-list thead { background-color: #ffffff; }
.request-list td { padding: 10px 0; border: 1px solid #d6d6d6;}

td button { background-color: none; padding: 3px 15px; outline: none; border: 2px solid #5c5c5c; }
td button:active { background-color: #5c5c5c; color: #ffffff !important; }